<%= simple_form_for(resource, as:  resource_name, url:  registration_path(resource_name),
  html:  { class:  'span5 offset3 well' },
  defaults: { input_html: {class: "span12", required: true} }) do |f| %>

  <h2>Sign up</h2><hr>

  <%= f.input :name,
    label:false,
    placeholder: 'If you want, tell us your Name',
    input_html: { required: false } %>

  <%= f.input :email,
    label:  false,
    autofocus:  true,
    placeholder: 'Your Email'%>

  <%= f.input :password,
    label:  false,
    placeholder: 'Choose a password with at least 6 characters'%>

  <%= f.input :password_confirmation,
    label:  false,
    placeholder: 'Confirm your password'%>

  <div class="actions">
    <%= f.button :submit, 'Sign up', class:  'btn btn-info btn-block' %>
    <%= render partial:  "devise/shared/links" %>
  </div>
<% end %>
