<div class="app-task" data-id="<%= task.id %>">
  <div class="row-fluid">
    <span class="lead pull-left">
      <% if [root_path, dashboard_path].include? request.fullpath %>
        <%= link_to(task.project.name, project_path(task.project)) + '/' + task.name %>
      <% else %>
        <%= task.name %>
      <% end -%>
    </span>
    <div class="pull-right" id="actions"><%= play_or_stop_task(task) %></div>
  </div>

  <section class="app-worktimes">
    <table class="table">
      <% unless task.worktimes.empty? %>
        <thead>
          <tr>
            <th>Begin at</th>
            <th>End at</th>
            <th>Time worked</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% task.worktimes.order('updated_at DESC').each_with_index do |worktime, index|  %>
            <tr id="worktime_<%= index %>">
              <%= render 'worktimes/show', task: task, worktime: worktime %>
            </tr>
        <% end %>
        </tbody>
      <% end %>
    </table>
  </section>


  <div class="btn-group">
    <% if can? :update, task %>
      <%= link_to edit_task_path(task), class: :btn do %>
        <i class="icon-edit"></i> Edit
      <% end %>
    <% end %>

    <% if can? :destroy, task %>
      <%= link_to task_path(task),
        { method: :delete, confirm: 'Are you sure?',
        class: [:btn, 'btn-danger'] } do %>
          <i class="icon-remove"></i> Delete
      <% end %>
    <% end %>
  </div>
</div>