<ul data-id="<%= task.id %>">
  <li><%= task.name %></li>

  <%= simple_form_for [task, worktime] do |w| %>
    <%= w.input :project_id, as: :hidden, input_html: { value: task.project.id} %>
    <%= w.input :task_id, as: :hidden, input_html: { value: task.id} %>
    <%= w.submit 'Continue' %>
    <%= w.submit 'Stop' %>
  <% end %>

  <% task.worktimes.each do |worktime|  %>
    <ul>
      <li><%= worktime.begin %></li>
      <% if worktime.end.present? %>
        <li><%= worktime.end %></li>
      <% end %>
      <li><%= link_to 'Edit', edit_task_worktime_path(task, worktime) %></li>
      <li><%= link_to 'Destroy', task_worktime_path(task, worktime),
       {method: :delete} %></li>
    </ul>
    <br />
  <% end %>

  <% if can? :update, task %>
    <li><%= link_to 'Edit', edit_task_path(task) %></li>
  <% end %>
  <% if can? :destroy, task %>
    <li><%= link_to 'Delete', task_path(task), {method: :delete} %></li>
  <% end %>
</ul>