<div id="app-task" data-id="<%= task.id %>">
  <div class="row-fluid">
    <span class="lead pull-left"><%= task.name %></span>
    <%= simple_form_for [task, Worktime.new], remote:true do |w| %>
      <%= w.input :task_id, as: :hidden, input_html: { value: task.id} %>
      <div class="btn-group pull-right">
        <%= w.submit 'Continue',  class: 'btn'%>
        <%= w.submit 'Stop',  class: 'btn' %>
      </div>
    <% end %>
  </div>

  <section class="app-worktimes">
    <table class="table">
      <thead>
        <tr>
          <th>Begin at</th>
          <th>End at</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% task.worktimes.each do |worktime|  %>
          <tr>
            <%= render 'worktimes/show', task: task, worktime: worktime %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </section>

  <% if can? :update, task %>
    <%= link_to 'Edit', edit_task_path(task) %>
  <% end %>
  <% if can? :destroy, task %>
    <%= link_to 'Delete', task_path(task), {method: :delete} %>
  <% end %>
</div>
</br>
