<div class="app-task" data-id="<%= task.id %>">
  <div class="row-fluid">
    <span class="lead pull-left">
      <% if [root_path, dashboard_path].include? request.fullpath %>
        <%= link_to(task.project.name, project_path(task.project)) + '/'  + task.name %>
      <% else %>
        <%= task.name %>
      <% end -%>
    </span>
      <div class="pull-right" id="actions">
        <% if current_user.exists_pending_worktimes?(task)%>
          <% hide_stop = '' %>
          <% hide_play = 'hide' %>
        <% else %>
          <% hide_stop = 'hide' %>
          <% hide_play = '' %>
        <% end %>

        <%= link_to '<i class="icon-play"> </i>'.html_safe, task_worktimes_path(task) , {method: :post, remote: true, class: "btn btn-large #{hide_play}"} %>
        <% unless current_user.worktimes.where(task_id: task).empty? %>
          <%= link_to '<i class="icon-stop"> </i>'.html_safe,
            stop_task_worktime_path(task, current_user.worktimes.last),
            {method: :put, remote: true, class: "btn btn-large #{hide_stop}"} %>
         <% end %>
      </div>
  </div>

  <section class="app-worktimes">
    <table class="table">
      <% unless task.worktimes.empty? %>
        <thead>
          <tr>
            <th>Begin at</th>
            <th>End at</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% task.worktimes.order('updated_at DESC').each_with_index do |worktime, index|  %>
            <tr id="worktime_<%= index %>">
              <%= render 'worktimes/show', task: task, worktime: worktime %>
            </tr>
        <% end %>
        </tbody>
      <% end %>
    </table>
  </section>

  <% if can? :update, task %>
    <%= link_to 'Edit', edit_task_path(task) %>
  <% end %>
  <% if can? :destroy, task %>
    <%= link_to 'Delete', task_path(task), {method: :delete, confirm: 'Are you sure?'} %>
  <% end %>
</div>