<div class="app-task" data-id="<%= task.id %>">
  <div class="row-fluid">
    <h3>
      <span>
        <%= task.name %>
        <% unless current_page?(project_path(task.project)) %>
          <small>(<%= link_to(task.project.name, project_path(task.project)) %>)</small>
        <% end %>
      </span>
      <% if can? :manage, task %>
        <span class="pull-right" id="actions"><%= play_or_stop_task(task) %></span>
      <% end %>
    </h3>
  </div>

  <section class="app-worktimes">
    <table class="table">
      <% unless task.worktimes.empty? %>
        <thead>
          <tr>
            <th></th>
            <th>Begin at</th>
            <th>End at</th>
            <th>Time worked</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% task.worktimes.order('updated_at DESC').each_with_index do |worktime, index|  %>
            <tr id="worktime_<%= index %>">
              <%= render 'worktimes/show', task: task, worktime: worktime %>
            </tr>
        <% end %>
        </tbody>
      <% end %>
    </table>
  </section>

  <div class="task_footer">
    <span><b>Total time worked:</b> <%= precise_distance_of_time_in_words(0, task.time_worked) %></span>
    <div class="btn-group pull-right">
      <% if can? :update, task %>
        <%= link_to edit_task_path(task), class: :btn do %>
          <i class="icon-edit"></i> Edit
        <% end %>
      <% end %>

      <% if can? :destroy, task %>
        <%= link_to task_path(task),
          { method: :delete, confirm: 'Are you sure?',
          class: [:btn, 'btn-danger'] } do %>
            <i class="icon-trash"></i> Delete
        <% end %>
      <% end %>
    </div>
  </div>
</div>