<div data-id="<%= task.id %>">
  <div class="row-fluid">
    <span class="lead pull-left"><%= task.name %></span>
    <%= simple_form_for [task, Worktime.new], remote:true do |w| %>
      <%= w.input :task_id, as: :hidden, input_html: { value: task.id} %>
      <div class="btn-group pull-right">
        <%= w.submit 'Continue',  class: 'btn'%>
        <%= w.submit 'Stop',  class: 'btn' %>
      </div>
    <% end %>
  </div>

  <ul class="app-worktimes">
    <% task.worktimes.each do |worktime|  %>
      <%= render 'worktimes/show', task: task, worktime: worktime %>
    <% end %>
  </ul>

  <% if can? :update, task %>
    <%= link_to 'Edit', edit_task_path(task) %>
  <% end %>
  <% if can? :destroy, task %>
    <%= link_to 'Delete', task_path(task), {method: :delete} %>
  <% end %>
</div>
</br>
