<div class="accordion-group" id="user-<%= user.id %>">
  <div class="accordion-heading">
    <a class="accordion-toggle time-worked-heading" data-toggle="collapse"
      data-parent="#time_worked" href="#user-<%= user.id %>-tasks">
      <%= user_info(user) %>
      <span class="pull-right">
        <%= precise_distance_of_time_in_words(0, user.time_worked_on(tasks)) %>
      </span>
    </a>
  </div>

  <div id="user-<%= user.id %>-tasks" class=" collapse">
    <table class="table table-striped tasks-table">
      <tbody>
        <% tasks.each do |task| %>
          <tr id="task-<%= task.id %>">
            <td><%= task.name %></td>
            <td><%= precise_distance_of_time_in_words(0, task.time_worked) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>