<div id="user-<%= user.id %>">
  <tr class="info">
    <% if current_user.admin? @project  %>
      <td><h5><%= user.name || user.email %></h5></td>
      <td><h5><%= to_minutes @project.time_worked(user) %></h5></td>
    <% end %>
  </tr>

  <div id="tasks">
    <% @project.tasks_times_array.each do |task| %>
      <tr id="task-<%= task[:id] %>">
        <td><%= task[:name] %></td>
        <td><%= to_minutes task[:time] %></td>
      </tr>
    <% end %>
  </div>
</div>