<h1><%= @project.name %></h1>
</br>
</br>

<ul class="nav nav-tabs">
  <li class="active"><a href="#edit" data-toggle="tab">Edit Project</a></li>
  <li><a href="#team" data-toggle="tab">Team</a></li>
  <li><a href="#destroy" data-toggle="tab">Destroy</a></li>
</ul>


<div class="tab-content">
  <div class="tab-pane active" id="edit">
    <div>
      <%= simple_form_for @project do |project| %>
        <%= project.input :name, label:'<h3>Name</h3>'.html_safe, required: false %>
        <%= project.submit 'Update', class: 'btn' %>
      <% end %>
    </div>
  </div>

  <div class="tab-pane" id="team">
    <%= render template: 'projects/team' %>
  </div>

  <div class="tab-pane" id="destroy">
    <h3>Destroy <%= @project.name %> ?</h3>
    <span>If you delete this project, you will lose all tasks and worktimes</span>
    </br>
    </br>
    <div class="app-header-actions">
      <%= link_to '<i class="icon-remove"></i> Destroy'.html_safe,
       project_path(@project), {method: :delete, confirm: 'Are you sure?',
        class: "btn btn-danger"} %>
  </div>
</div>
