<h1><a style="color:black; text-decoration:none"
   href="<%= project_path(@project) %>"><%= @project.name %></a></h1>
</br>
</br>

<ul class="nav nav-tabs">
  <li class="active"><a href="#edit" data-toggle="tab">Edit Project</a></li>
  <li><a href="#team" data-toggle="tab">Team</a></li>
  <li><a href="#destroy" data-toggle="tab">Destroy</a></li>
</ul>


<div class="tab-content">
  <div class="tab-pane active" id="edit">
    <div>
      <%= render 'form' %>
    </div>
  </div>

  <div class="tab-pane" id="team">
    <%= render template: 'projects/team' %>
  </div>

  <div class="tab-pane" id="destroy">
    <h3>Destroy <%= @project.name %> ?</h3>
    <span>If you delete this project, you will lose all tasks and worktimes</span>
    </br>
    </br>
    <div class="app-header-actions">
      <%= link_to '<i class="icon-trash"></i> Destroy'.html_safe,
       project_path(@project), {method: :delete, data: { confirm: 'Are you sure?' },
        class: "btn btn-danger"} %>
  </div>
</div>
