<section id="project">
  <% admin_or_observer = current_user.admin?(@project) || current_user.observer?(@project)  %>

  <h1>Time Worked at <%= link_to @project.name, project_path(@project) %></h1>

  <hr />

  <%= simple_form_for :filter, url: 'filter', method: 'get', html: {class: 'form-inline' } do |f| %>
    <% if admin_or_observer %>
      <label for="user_id">User</label>
      <%= f.input_field :user_id, collection: @project.users, as: :select,
        value_method: :id,
        label_method: :email, selected: @values[:user_id], include_blank: true,
        class: "select_users_by_select2" %>
    <% end %>

    <label for="filter_begin_at">Begin at:</label>
    <div class="datetimepicker input-append">
      <%= f.input_field :begin_at, as: :string, value: @values[:begin_at] %>
      <span class="add-on">
       <i data-time-icon="icon-time" data-date-icon="icon-calendar" ></i>
      </span>
    </div>

    <label for="filter_end_at">End at:</label>
    <div class="datetimepicker input-append">
      <%= f.input_field :end_at, as: :string, value: @values[:end_at] %>

      <span class="add-on">
       <i data-time-icon="icon-time" data-date-icon="icon-calendar" ></i>
      </span>
    </div>

    <%= button_tag(type: 'submit', class: "btn btn-primary") do %>
      <i class="icon-search icon-white"></i> Filter
    <% end %>
  <% end %>

  <hr />

  <table class="table table-striped app_timeworked" id="time_worked">
    <thead>
      <tr>
        <th><h4>Name</h4></th>
        <th><h4>Time</h4></th>
      </tr>
    </thead>

    <tbody>
      <% if admin_or_observer %>
        <% @users.each do |user| %>
          <%= render 'time_worked', user: user %>
        <% end %>
      <% else %>
        <%= render 'time_worked', user: current_user %>
      <% end %>
    </tbody>
  </table>
</section>