<%= content_for :page_id do 'report' end %>

<% admin_or_observer = current_user.admin?(@project) || current_user.observer?(@project)  %>
<% project_info = @project.get_all_time_worked(begin_at: @begin_at, end_at: @end_at) %>
<div class="row-fluid">
  <aside class="span4 well" id="app-sidebar" >
    <%= simple_form_for :filter, url: 'filter', method: 'get' do |f| %>
      <div class="row-fluid">
        <% if admin_or_observer %>
          <p>
            <b>Time worked by all users:</b>
            <%= precise_distance_of_time_in_words(0, project_info[:time_worked_by_all]) %>
          </p>

          <div class="app-input-sidebar" id="user_ids">
            <span class="span4">Users:</span>
            <div class="span6">
              <%= f.input_field :user_ids, collection: @project.users, as: :select,
                value_method: :id, label_method: :email,
                selected: @values[:user_ids], include_blank: true,
                class: "select_users_by_select2", multiple: true %>
            </div>
          </div>
        <% end %>

        <div class="app-input-sidebar" id="filter_begin_at">
          <span class="span4">Begin at:</span>
          <div class="datetimepicker input-append span6">
            <%= f.input_field :begin_at, as: :string, value: @values[:begin_at] %>
            <span class="add-on">
             <i data-time-icon="icon-time" data-date-icon="icon-calendar" ></i>
            </span>
          </div>
        </div>

        <div class="app-input-sidebar" id="filter_end_at">
          <span class="span4">End at:</span>
          <div class="datetimepicker input-append span6">
            <%= f.input_field :end_at, as: :string, value: @values[:end_at] %>
            <span class="add-on">
             <i data-time-icon="icon-time" data-date-icon="icon-calendar" ></i>
            </span>
          </div>
        </div>
      </div>
      <div class="actions">
        <%= button_tag(type: 'submit', class: 'btn btn-info btn-block') do %>
          <i class="icon-search icon-white"></i> Filter
        <% end %>
      </div>
    <% end %>
  </aside>

  <section class="span8" id="project">
    <%= render 'header_to_project_views',
      title: 'Time Worked at ' + link_to(@project.name, project_path(@project)) %>

    <div class="accordion" id="time_worked">
      <% if admin_or_observer %>
        <% @users.each do |user| %>
          <%= render 'time_worked', user: user, tasks_info: project_info[:users][user] %>
        <% end %>
      <% else %>
        <%= render 'time_worked', user: current_user, tasks_info: project_info[:users][current_user] %>
      <% end %>
    </div>
  </section>
</div>