<%= content_for :page_id do 'report' end %>

<% admin_or_observer = current_user.admin?(@project) || current_user.observer?(@project)  %>
<% project_info = @project.get_all_time_worked(begin_at: @begin_at, end_at: @end_at) %>

<%= content_for :sidebar do %>
  <%= simple_form_for :filter, url: 'filter', method: 'get' do |f| %>
    <% if admin_or_observer %>
      <span><b>Time worked by all users:</b>
        <%= distance_of_time_in_words( 0, project_info[:time_worked_by_all], false) %>
      </span>

      <label for="user_id">User</label>
      <%= f.input_field :user_id, collection: @project.users, as: :select,
        value_method: :id,
        label_method: :email, selected: @values[:user_id], include_blank: true,
        class: "select_users_by_select2" %>
    <% end %>

    <label for="filter_begin_at">Begin at:</label>
    <div class="datetimepicker input-append">
      <%= f.input_field :begin_at, as: :string, value: @values[:begin_at] %>
      <span class="add-on">
       <i data-time-icon="icon-time" data-date-icon="icon-calendar" ></i>
      </span>
    </div>

    <label for="filter_end_at">End at:</label>
    <div class="datetimepicker input-append">
      <%= f.input_field :end_at, as: :string, value: @values[:end_at] %>

      <span class="add-on">
       <i data-time-icon="icon-time" data-date-icon="icon-calendar" ></i>
      </span>
    </div>

    <%= button_tag(type: 'submit', class: "btn btn-primary") do %>
      <i class="icon-search icon-white"></i> Filter
    <% end %>
  <% end %>

<% end %>

<section id="project">

  <h1>Time Worked at <%= link_to @project.name, project_path(@project) %></h1>

  <table class="table table-striped app_timeworked" id="time_worked">
    <thead>
      <tr>
        <th><h4>Name</h4></th>
        <th><h4>Time</h4></th>
      </tr>
    </thead>

    <tbody>
      <% if admin_or_observer %>
        <% @users.each do |user| %>
          <%= render 'time_worked', user: user, tasks_info: project_info[:users][user] %>
        <% end %>
      <% else %>
        <%= render 'time_worked', user: current_user, tasks_info: project_info[:users][current_user] %>
      <% end %>
    </tbody>
  </table>
</section>