<h1><%= @project.name %></h1>

<%= simple_form_for @task do |f| %>
  <%= f.input :name, autofocus: true %>
  <%= f.input :project_id, as: :hidden, input_html: { value: @project.id } %>
  <%= f.submit 'Start' %>
<% end %>

<% @tasks.each do |t| %>
  <%= render 'tasks/show', task: t, worktime: @worktime %>
<% end %>
<%= link_to 'Team', team_project_path(@project) %>
