<h1><%= @project.name %></h1>

<%= simple_form_for @task do |f| %>
  <%= f.input :name, autofocus: true %>
  <%= f.input :project_id, as: :hidden, input_html: { value: @project.id } %>
  <%= f.submit 'Start' %>
<% end %>

<% @tasks.each do |t| %>
  <ul>
    <li><%= t.name %></li>
    <li><%= link_to 'Edit', edit_task_path(t) %></li>
    <li><%= link_to 'Delete', task_path(t), {method: :delete} %></li>
  </ul>
<% end %>




