<%= content_for :title do @project.name end %>
<%= content_for :page_id do 'project_page' end %>

<%= render 'header_to_project_views', title: @project.name %>

<% if can? :manage, @task %>
  <%= simple_form_for @task, remote: true do |f| %>
    <div class="input-append app-new-task">
      <%= f.input_field :name, autofocus: true, placeholder: 'New task' %>
      <%= f.submit 'Start', class: 'btn app-add', id: "button-task" %>
    </div>
    <%= f.input :project_id, as: :hidden, input_html: { value: @project.id } %>
  <% end %>
<% end %>



<div id="app-tasks">
  <% @tasks.each do |t| %>
    <%= render 'tasks/show', task: t %>
  <% end %>
</div>

<%= paginate @tasks %>