<%= content_for :page_id do 'project_page' end %>

<div class="row-fluid">
  <h1 class="pull-left"><%= @project.name %></h1>
  <div class="app-header-actions btn-group pull-right">
    <% if current_user.admin? @project %>
    <%= link_to '<i class="icon-wrench"></i> Settings'.html_safe,
     edit_project_path(@project), class: "btn"%>
    <% end %>
  </div>
</div>

<div class="row-fluid">
  <%= simple_form_for @task do |f| %>
    <div class="input-append app-new-task">
      <%= f.input_field :name, autofocus: true, placeholder: 'New task' %>
      <%= f.submit 'Start', class: 'btn app-add', id: "button-task" %>
    </div>
    <%= f.input :project_id, as: :hidden, input_html: { value: @project.id } %>
  <% end %>
</div>

<% @tasks.each do |t| %>
  <%= render 'tasks/show', task: t, worktime: @worktime %>
<% end %>
