<h1>Team</h1>

<% is_admin = current_user.admin?(@project) %>

<form class="form-inline">
  <%= simple_form_for @project do |p| %>
    <%= p.association :users, label_method: :email, value_method: :id, include_blank: false, as: :select %>
    <%= p.button :submit, class: 'btn-primary' %>
  <% end %>
</form>

<div class="team">
  <b>Admins (If the check box was checked, user will become an admin):</b><br>
  <p class="alert"></p>
  <% @users.each do |user| %>
    <input type='checkbox' id='user-<%= user.id %>' class='set_admin'
      value='<%= user.id %>' data-project='<%= @project.id %>'
      <%= 'checked' if user.admin?(@project) %>
      <%= 'disabled' if !is_admin %>> <%= user.email %><br>
  <% end %>
</div>