<h1>Team</h1>

<% is_admin = current_user.admin?(@project) %>

<p>
  <b>Admins (If the check box was checked, user will become an admin):</b><br>
  <p class="alert"></p>
  <% @users.each do |user| %>
    <input type='checkbox' id='user-<%= user.id %>' class='set_admin'
      value='<%= user.id %>' data-project='<%= @project.id %>'
      <%= 'checked' if user.admin?(@project) %>
      <%= 'disabled' if !is_admin %>> <%= user.email %><br>
  <% end %>
</p>