<%= simple_form_for(resource, as:  resource_name, url:  session_path(resource_name),
  html:  { class:  'span5 offset3 well' },
  defaults: { input_html: {class: "span12", required: true} }) do |f| %>

  <h2>Login</h2><hr>

  <%= f.input :email,
    label:  false,
    autofocus:  true,
    placeholder: 'Email' %>

  <%= f.input :password,
    label:  false,
    placeholder: 'Password' %>

  <label class="checkbox">
    <input name="user[remember_me]" type="checkbox" value="0">
    Remember me
  </label>


  <div class="actions">
    <%= f.button :submit, 'Sign in', class:  'btn btn-info btn-block' %>
    <%= render partial:  "devise/shared/links" %>
  </div>
<% end %>