<% if !@projects.empty? %>
  <div id="projects">
    <% @projects.each do |project| %>
      <div id="project-<%= project.id %>">
        <%= project.name %>
        <% project.users.each do |user| %>
          <div id="user-<%= user.id %>">
            <%= user.name || user.email %>
            <% project.tasks_times(user).each do |name, time| %>
                <div>
                  <span><%= name %></span>
                  <span><%= to_minutes time %></span>
                </div>
            <% end %>
            <br/>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
<% else %>
  Sorry. You do not have projects under your vigilance.
<% end %>