<section id="times_worked">
  <h1>Time Worked</h1>
  <div class="accordion" id="projects">
    <% @projects.each do |project| %>
      <a href="#">
        <h3 class="row-fluid accordion-group">
        <span class="span6"><%= project.name %></span>
        <span class="span6"><%= to_minutes project.time_worked(current_user) %></span>
        </h3>
      </a>
      <div id="tasks-of-project-<%= project.id %>" class="app-inner-acccordion">
        <% project.tasks_times_array.each do |name, time| %>
            <div>
              <span class="span6"><%= name %></span>
              <span class="span6"><%= to_minutes time %></span>
            </div>
        <% end %>
      </div>
    <% end %>
  </div>
</section>