<!-- <section id="times_worked">
  <h1>Time Worked</h1>
  <div class="well sidebar-nav" id="projects">
    <% @projects.each do |project| %>
      <a href="#">
        <span><%= project.name %></span>
        <span><%= to_minutes project.time_worked(current_user) %></span>
      </a>
      <div id="tasks-of-project-<%= project.id %>" class="">
        <% project.tasks_times_array.each do |name, time| %>
            <div>
              <span><%= name %></span>
              <span><%= to_minutes time %></span>
            </div>
        <% end %>
      </div>
    <% end %>
  </div>
</section -->


<section id="times_worked">
  <h1>Time Worked</h1>
  <div class="row-fluid">
    <div class="well sidebar-nav span3" id="projects">
      <ul>
        <% @projects.each do |project| %>
          <li><%= link_to "#{project.name}", '#' %></li>
        <% end %>
      </ul>
    </div>

    <div class="span9">

    </div>
  </div>
</section>