<%= content_for :title do 'Dashboard' end %>

<h1>Dashboard</h1>
<div class="app-tasks">
  <h2>Latest Tasks</h2>

  <% if @projects.empty? %>
    <%= 'You must' %>
    <%= link_to 'create', new_project_path %>
    <%= 'a project' %>
  <% elsif @tasks.empty? %>
    <%= link_to 'Create', project_path(current_user.projects.first) %>
    <%= 'a task' %>
  <% else %>
      <% @tasks.each do |t| %>
        <%= render 'tasks/show', task: t, worktime: Worktime.new %>
      <br />
      <% end %>
  <% end %>
</div>

<%= content_for :sidebar do %>
  <div id="app-projects">
    <span class="nav-header">Latest Projects</span>
    <%= render 'projects/list', projects: @projects %>
  </div>
<% end %>
