<%= content_for :page_title do 'Dashboard' end %>

<h1>Dashboard</h1>
</br>
<div class="row-fluid">
  <div class="span7">
    <div class="tasks">
      <h4 id="latest-task">Latest Tasks</h4></br>

      <% if current_user.projects.empty? %>
        <%= 'You must' %>
        <%= link_to 'create', new_project_path %>
        <%= 'a project' %>
      <% else %>
        <% if current_user.projects.first.tasks.empty? %>
          <%= link_to 'Create', project_path(current_user.projects.first) %>
          <%= 'a task' %>
        <% end %>
      <% end %>

      <% @tasks.each do |t| %>
        <%= render 'tasks/show', task: t, worktime: Worktime.new %>
      <% end %>
    </div>
  </div>

  <div class="projects span4 offset1">
    <%= render 'projects/list', projects: @projects %>
  </div>
</div>
