<% w_id = worktime.id %>

<td id="begin_<%= w_id %>">
  <%= l worktime.beginning, format: :short  %>
</td>

<td id="end_<%= w_id %>">
  <%= worktime.finish.present? ? l(worktime.finish, format: :short) : 'working...' %>
</td>

<td id="time_worked_<%= w_id %>">
  <%= worktime.time_worked_formatted %>
</td>

<% if can? :update, worktime %>
  <td class="btn-group">
    <%= link_to edit_task_worktime_path(task, worktime),
      class: [:btn, 'btn-mini'] do %>
        <i class="icon-pencil"></i>
    <% end %>
    <%= link_to task_worktime_path(task, worktime),
      { method: :delete , confirm: 'Are you sure?',
      class: [:btn, 'btn-mini', 'btn-danger'] } do %>
        <i class="icon-remove"></i>
    <% end %>
  </td>
<% end %>