<% w_id = worktime.id %>

<td id="begin_<%= w_id %>">
  <%= worktime.beginning %>
</td>

<td id="end_<%= w_id %>">
  <%= worktime.finish %>
</td>

<td id="time_worked_<%= w_id %>">
  <%= worktime.time_worked_formatted %>
</td>

<% if can? :update, worktime %>
  <td>
    <%= link_to '<i class="icon-pencil"></i>'.html_safe,
      edit_task_worktime_path(task, worktime)  %>
    <%= link_to '<i class="icon-remove"></i>'.html_safe,
      task_worktime_path(task, worktime), {method: :delete , confirm: 'Are you sure?'} %>
  </td>
<% end %>