<% w_id = worktime.id %>

<td>
  <%= image_tag avatar_url(worktime.user), alt: worktime.user.name,
     size: '22x22', class: 'img-rounded' %>
</td>

<td id="begin_<%= w_id %>">
  <%= l worktime.beginning, format: :short  %>
</td>

<% if worktime.finish.present? %>
  <% finished_at = l(worktime.finish, format: :short) %>
  <% time_worked = distance_of_time_in_words( worktime.beginning, worktime.finish, false) %>
<% else %>
  <% finished_at = time_worked = 'working...' %>
<% end %>

<td id="end_<%= w_id %>">
  <%= finished_at %>
</td>

<td id="time_worked_<%= w_id %>">
  <%= time_worked %>
</td>

<% if can? :update, worktime %>
  <td class="btn-group">
    <%= link_to edit_task_worktime_path(task, worktime),
      class: [:btn, 'btn-mini'] do %>
        <i class="icon-pencil"></i>
    <% end %>
    <%= link_to task_worktime_path(task, worktime),
      { method: :delete , confirm: 'Are you sure?',
      class: [:btn, 'btn-mini', 'btn-danger'] } do %>
        <i class="icon-trash"></i>
    <% end %>
  </td>
<% end %>