<!DOCTYPE html>

<html>

<head>
  <title>TicTracking - <%= yield :page_title %></title>

  <meta charset="utf-8" />

  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application',  defer: 'defer' %>
  <%= csrf_meta_tags %>
</head>

<body>

  <!-- HEADER BEGIN -->
  <header class="navbar navbar-inverse navbar-fixed-top" id="app-header">
    <div class="navbar-inner">

      <div class="container">
        <%= link_to 'TicTraking', root_path, class: 'brand' %>

        <ul class="nav pull-right">
          <% if user_signed_in? %>
            <li><%= link_to '<i class="icon-circle-arrow-left"></i> Sign out'.html_safe,
              destroy_user_session_path, { method: :delete } %></li>
            <li><%= link_to current_user.email,
              edit_user_registration_path %></li>
            <li class="app-profile-image">
              <%= image_tag avatar_url(current_user), alt: current_user.name,
              size: '40x40', class: 'img-circle' %></li>
          <% else %>
            <li><%= link_to 'Sign in', new_user_session_path %></li>
          <% end %>
        </ul>
      </div>

    </div>
  </header>
  <!-- HEADER END -->


  <!-- CONTENT BEGIN -->
  <section id="app-content" class="container">
    <div class="row-fluid">

      <div class="<%= yield(:sidebar).blank? ? 'span12'.html_safe : 'span8'.html_safe %>">
        <%= bootstrap_flash %>

        <%= yield %>
      </div>

      <% unless (yield :sidebar).blank? %>
        <aside class="span4">
          <%= yield :sidebar %>
        </aside>
      <% end %>

    </div>
  </section>
  <!-- CONTENT END -->

  <!-- FOOTER BEGIN -->
  <footer id="app-content" class="text-center">
    <p>&copy 2013, <a href="http://algorich.com" target="_blank">Algorich</a></p>
  </footer>
  <!-- FOOTER END -->

</body>

</html>
